<!DOCTYPE html>

<h1> Welcome, <%= @user.name %> </h1>

<p>
  Welcome to IgniteBot!
</p>

<p>
  Promote/share/light your ideas.  Get feedback, its time to enter a world where good ideas are promoted, bad ideas are corrected, and abundance is abound.  Ignite with your personal promotion robot, IgniteBot!
</p>
<p>
  Learn more here: '/about'
</p>
<p>
  To login to the site, just follow this link: <%= @url %>
</p>

